@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" style="font-size:24px" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" style="font-size:24px" asp-area="" asp-controller="Auth" asp-action="Index">Register</a>
        </li>                       
    </ul>    
</div>
